.menu_title_container {
    color: #fff;

}

.menu_title_container h1{
    margin: 10px 15px;
    font-size: 135px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.menu_title_container hr{
    margin: 20px 5px;
}